bundles/binding/org.openhab.binding.ihc/wsdl/resourceinteraction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="utcs" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wpNS1="utcs.values" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="utcs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="utcs">
      <xsd:import namespace="utcs.values" />
      <xsd:element name="getRuntimeValue1" nillable="true" type="xsd:int" />
      <xsd:complexType name="WSResourceValueEnvelope">
        <xsd:sequence>
          <xsd:element name="value" nillable="true" type="wpNS1:WSResourceValue" />
          <xsd:element name="typeString" type="xsd:string" />
          <xsd:element name="resourceID" type="xsd:int" />
          <xsd:element name="isValueRuntime" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getRuntimeValue2" nillable="true" type="tns:WSResourceValueEnvelope" />
      <xsd:element name="getRuntimeValues1" nillable="true" type="xsd:ArrayOfint" />
      <xsd:complexType name="ArrayOfWSResourceValueEnvelope">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="arrayItem" nillable="true" type="tns:WSResourceValueEnvelope" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getRuntimeValues2" nillable="true" type="tns:ArrayOfWSResourceValueEnvelope" />
      <xsd:element name="getInitialValue1" nillable="true" type="xsd:int" />
      <xsd:element name="getInitialValue2" nillable="true" type="tns:WSResourceValueEnvelope" />
      <xsd:element name="getInitialValues1" nillable="true" type="xsd:ArrayOfint" />
      <xsd:element name="getInitialValues2" nillable="true" type="tns:ArrayOfWSResourceValueEnvelope" />
      <xsd:element name="setResourceValue1" nillable="true" type="tns:WSResourceValueEnvelope" />
      <xsd:element name="setResourceValue2" nillable="true" type="xsd:boolean" />
      <xsd:element name="setResourceValues1" nillable="true" type="tns:ArrayOfWSResourceValueEnvelope" />
      <xsd:element name="setResourceValues2" nillable="true" type="xsd:boolean" />
      <xsd:element name="enableRuntimeValueNotifications1" nillable="true" type="xsd:ArrayOfint" />
      <xsd:element name="enableRuntimeValueNotifications2" nillable="true" type="tns:ArrayOfWSResourceValueEnvelope" />
      <xsd:element name="disableRuntimeValueNotifactions1" nillable="true" type="xsd:ArrayOfint" />
      <xsd:element name="disableRuntimeValueNotifactions2" nillable="true" type="xsd:boolean" />
      <xsd:element name="enableInitialValueNotifications1" nillable="true" type="xsd:ArrayOfint" />
      <xsd:element name="enableInitialValueNotifications2" nillable="true" type="tns:ArrayOfWSResourceValueEnvelope" />
      <xsd:element name="disableInitialValueNotifactions1" nillable="true" type="xsd:ArrayOfint" />
      <xsd:element name="disableInitialValueNotifactions2" nillable="true" type="xsd:boolean" />
      <xsd:element name="waitForResourceValueChanges1" nillable="true" type="xsd:int" />
      <xsd:element name="waitForResourceValueChanges2" nillable="true" type="tns:ArrayOfWSResourceValueEnvelope" />
      <xsd:element name="getSceneGroupResourceIdAndPositions1" nillable="true" type="xsd:int" />
      <xsd:complexType name="WSSceneResourceIdAndLocationURLs">
        <xsd:sequence>
          <xsd:element name="scenePositionSeenFromFunctionBlock" type="xsd:string" />
          <xsd:element name="sceneResourceId" type="xsd:int" />
          <xsd:element name="scenePositionSeenFromProduct" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWSSceneResourceIdAndLocationURLs">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="arrayItem" nillable="true" type="tns:WSSceneResourceIdAndLocationURLs" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getSceneGroupResourceIdAndPositions2" nillable="true" type="tns:ArrayOfWSSceneResourceIdAndLocationURLs" />
      <xsd:element name="getScenePositionsForSceneValueResource1" nillable="true" type="xsd:int" />
      <xsd:element name="getScenePositionsForSceneValueResource2" nillable="true" type="tns:WSSceneResourceIdAndLocationURLs" />
      <xsd:element name="getEnumeratorDefinitions1" nillable="true" type="wpNS1:ArrayOfWSEnumDefinition" />
      <xsd:element name="getResourceType1" nillable="true" type="xsd:int" />
      <xsd:element name="getResourceType2" nillable="true" type="xsd:string" />
      <xsd:complexType name="WSDatalineResource">
        <xsd:sequence>
          <xsd:element name="resourceID" type="xsd:int" />
          <xsd:element name="datalineNumber" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWSDatalineResource">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="arrayItem" nillable="true" type="tns:WSDatalineResource" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getExtraDatalineInputs1" nillable="true" type="tns:ArrayOfWSDatalineResource" />
      <xsd:element name="getExtraDatalineOutputs1" nillable="true" type="tns:ArrayOfWSDatalineResource" />
      <xsd:element name="getAllDatalineInputs1" nillable="true" type="tns:ArrayOfWSDatalineResource" />
      <xsd:element name="getAllDatalineOutputs1" nillable="true" type="tns:ArrayOfWSDatalineResource" />
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="utcs.values">
      <xsd:complexType name="WSResourceValue">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:complexType name="WSEnumValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="definitionTypeID" type="xsd:int" />
              <xsd:element name="enumValueID" type="xsd:int" />
              <xsd:element name="enumName" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWSEnumValue">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="arrayItem" nillable="true" type="wpNS1:WSEnumValue" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WSEnumDefinition">
        <xsd:sequence>
          <xsd:element name="enumeratorDefinitionID" type="xsd:int" />
          <xsd:element name="enumeratorValues" nillable="true" type="wpNS1:ArrayOfWSEnumValue" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWSEnumDefinition">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="arrayItem" nillable="true" type="wpNS1:WSEnumDefinition" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WSWeekdayValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="weekdayNumber" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSTimeValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="hours" type="xsd:int" />
              <xsd:element name="minutes" type="xsd:int" />
              <xsd:element name="seconds" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSTimerValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="milliseconds" type="xsd:long" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSSceneShutterSimpleValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="delayTime" type="xsd:int" />
              <xsd:element name="shutterPositionIsUp" type="xsd:boolean" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSSceneRelayValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="delayTime" type="xsd:int" />
              <xsd:element name="relayValue" type="xsd:boolean" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSSceneDimmerValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="delayTime" type="xsd:int" />
              <xsd:element name="dimmerPercentage" type="xsd:int" />
              <xsd:element name="rampTime" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSPhoneNumberValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="number" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSIntegerValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="integer" type="xsd:int" />
              <xsd:element name="maximumValue" type="xsd:int" />
              <xsd:element name="minimumValue" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSFloatingPointValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="maximumValue" type="xsd:double" />
              <xsd:element name="minimumValue" type="xsd:double" />
              <xsd:element name="floatingPointValue" type="xsd:double" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSDateValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="month" type="xsd:byte" />
              <xsd:element name="year" type="xsd:short" />
              <xsd:element name="day" type="xsd:byte" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSBooleanValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="value" type="xsd:boolean" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="ArrayOfint">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="arrayItem" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getRuntimeValueRequest">
    <wsdl:part name="parameter1" element="tns:getRuntimeValue1" />
  </wsdl:message>
  <wsdl:message name="getRuntimeValueResponse">
    <wsdl:part name="return" element="tns:getRuntimeValue2" />
  </wsdl:message>
  <wsdl:message name="getRuntimeValuesRequest">
    <wsdl:part name="parameter2" element="tns:getRuntimeValues1" />
  </wsdl:message>
  <wsdl:message name="getRuntimeValuesResponse">
    <wsdl:part name="return" element="tns:getRuntimeValues2" />
  </wsdl:message>
  <wsdl:message name="getInitialValueRequest">
    <wsdl:part name="parameter3" element="tns:getInitialValue1" />
  </wsdl:message>
  <wsdl:message name="getInitialValueResponse">
    <wsdl:part name="return" element="tns:getInitialValue2" />
  </wsdl:message>
  <wsdl:message name="getInitialValuesRequest">
    <wsdl:part name="parameter4" element="tns:getInitialValues1" />
  </wsdl:message>
  <wsdl:message name="getInitialValuesResponse">
    <wsdl:part name="return" element="tns:getInitialValues2" />
  </wsdl:message>
  <wsdl:message name="setResourceValueRequest">
    <wsdl:part name="parameter5" element="tns:setResourceValue1" />
  </wsdl:message>
  <wsdl:message name="setResourceValueResponse">
    <wsdl:part name="return" element="tns:setResourceValue2" />
  </wsdl:message>
  <wsdl:message name="setResourceValuesRequest">
    <wsdl:part name="parameter6" element="tns:setResourceValues1" />
  </wsdl:message>
  <wsdl:message name="setResourceValuesResponse">
    <wsdl:part name="return" element="tns:setResourceValues2" />
  </wsdl:message>
  <wsdl:message name="enableRuntimeValueNotificationsRequest">
    <wsdl:part name="parameter7" element="tns:enableRuntimeValueNotifications1" />
  </wsdl:message>
  <wsdl:message name="enableRuntimeValueNotificationsResponse">
    <wsdl:part name="return" element="tns:enableRuntimeValueNotifications2" />
  </wsdl:message>
  <wsdl:message name="disableRuntimeValueNotifactionsRequest">
    <wsdl:part name="parameter8" element="tns:disableRuntimeValueNotifactions1" />
  </wsdl:message>
  <wsdl:message name="disableRuntimeValueNotifactionsResponse">
    <wsdl:part name="return" element="tns:disableRuntimeValueNotifactions2" />
  </wsdl:message>
  <wsdl:message name="enableInitialValueNotificationsRequest">
    <wsdl:part name="parameter9" element="tns:enableInitialValueNotifications1" />
  </wsdl:message>
  <wsdl:message name="enableInitialValueNotificationsResponse">
    <wsdl:part name="return" element="tns:enableInitialValueNotifications2" />
  </wsdl:message>
  <wsdl:message name="disableInitialValueNotifactionsRequest">
    <wsdl:part name="parameter10" element="tns:disableInitialValueNotifactions1" />
  </wsdl:message>
  <wsdl:message name="disableInitialValueNotifactionsResponse">
    <wsdl:part name="return" element="tns:disableInitialValueNotifactions2" />
  </wsdl:message>
  <wsdl:message name="waitForResourceValueChangesRequest">
    <wsdl:part name="parameter11" element="tns:waitForResourceValueChanges1" />
  </wsdl:message>
  <wsdl:message name="waitForResourceValueChangesResponse">
    <wsdl:part name="return" element="tns:waitForResourceValueChanges2" />
  </wsdl:message>
  <wsdl:message name="getSceneGroupResourceIdAndPositionsRequest">
    <wsdl:part name="parameter12" element="tns:getSceneGroupResourceIdAndPositions1" />
  </wsdl:message>
  <wsdl:message name="getSceneGroupResourceIdAndPositionsResponse">
    <wsdl:part name="return" element="tns:getSceneGroupResourceIdAndPositions2" />
  </wsdl:message>
  <wsdl:message name="getScenePositionsForSceneValueResourceRequest">
    <wsdl:part name="parameter13" element="tns:getScenePositionsForSceneValueResource1" />
  </wsdl:message>
  <wsdl:message name="getScenePositionsForSceneValueResourceResponse">
    <wsdl:part name="return" element="tns:getScenePositionsForSceneValueResource2" />
  </wsdl:message>
  <wsdl:message name="getEnumeratorDefinitionsRequest" />
  <wsdl:message name="getEnumeratorDefinitionsResponse">
    <wsdl:part name="return" element="tns:getEnumeratorDefinitions1" />
  </wsdl:message>
  <wsdl:message name="getResourceTypeRequest">
    <wsdl:part name="parameter14" element="tns:getResourceType1" />
  </wsdl:message>
  <wsdl:message name="getResourceTypeResponse">
    <wsdl:part name="return" element="tns:getResourceType2" />
  </wsdl:message>
  <wsdl:message name="getExtraDatalineInputsRequest" />
  <wsdl:message name="getExtraDatalineInputsResponse">
    <wsdl:part name="return" element="tns:getExtraDatalineInputs1" />
  </wsdl:message>
  <wsdl:message name="getExtraDatalineOutputsRequest" />
  <wsdl:message name="getExtraDatalineOutputsResponse">
    <wsdl:part name="return" element="tns:getExtraDatalineOutputs1" />
  </wsdl:message>
  <wsdl:message name="getAllDatalineInputsRequest" />
  <wsdl:message name="getAllDatalineInputsResponse">
    <wsdl:part name="return" element="tns:getAllDatalineInputs1" />
  </wsdl:message>
  <wsdl:message name="getAllDatalineOutputsRequest" />
  <wsdl:message name="getAllDatalineOutputsResponse">
    <wsdl:part name="return" element="tns:getAllDatalineOutputs1" />
  </wsdl:message>
  <wsdl:portType name="ResourceInteractionService">
    <wsdl:operation name="getRuntimeValue">
      <wsdl:input name="inputMessageName1" message="tns:getRuntimeValueRequest" />
      <wsdl:output name="outputMessageName1" message="tns:getRuntimeValueResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRuntimeValues">
      <wsdl:input name="inputMessageName2" message="tns:getRuntimeValuesRequest" />
      <wsdl:output name="outputMessageName2" message="tns:getRuntimeValuesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getInitialValue">
      <wsdl:input name="inputMessageName3" message="tns:getInitialValueRequest" />
      <wsdl:output name="outputMessageName3" message="tns:getInitialValueResponse" />
    </wsdl:operation>
    <wsdl:operation name="getInitialValues">
      <wsdl:input name="inputMessageName4" message="tns:getInitialValuesRequest" />
      <wsdl:output name="outputMessageName4" message="tns:getInitialValuesResponse" />
    </wsdl:operation>
    <wsdl:operation name="setResourceValue">
      <wsdl:input name="inputMessageName5" message="tns:setResourceValueRequest" />
      <wsdl:output name="outputMessageName5" message="tns:setResourceValueResponse" />
    </wsdl:operation>
    <wsdl:operation name="setResourceValues">
      <wsdl:input name="inputMessageName6" message="tns:setResourceValuesRequest" />
      <wsdl:output name="outputMessageName6" message="tns:setResourceValuesResponse" />
    </wsdl:operation>
    <wsdl:operation name="enableRuntimeValueNotifications">
      <wsdl:input name="inputMessageName7" message="tns:enableRuntimeValueNotificationsRequest" />
      <wsdl:output name="outputMessageName7" message="tns:enableRuntimeValueNotificationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="disableRuntimeValueNotifactions">
      <wsdl:input name="inputMessageName8" message="tns:disableRuntimeValueNotifactionsRequest" />
      <wsdl:output name="outputMessageName8" message="tns:disableRuntimeValueNotifactionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="enableInitialValueNotifications">
      <wsdl:input name="inputMessageName9" message="tns:enableInitialValueNotificationsRequest" />
      <wsdl:output name="outputMessageName9" message="tns:enableInitialValueNotificationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="disableInitialValueNotifactions">
      <wsdl:input name="inputMessageName10" message="tns:disableInitialValueNotifactionsRequest" />
      <wsdl:output name="outputMessageName10" message="tns:disableInitialValueNotifactionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="waitForResourceValueChanges">
      <wsdl:input name="inputMessageName11" message="tns:waitForResourceValueChangesRequest" />
      <wsdl:output name="outputMessageName11" message="tns:waitForResourceValueChangesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSceneGroupResourceIdAndPositions">
      <wsdl:input name="inputMessageName12" message="tns:getSceneGroupResourceIdAndPositionsRequest" />
      <wsdl:output name="outputMessageName12" message="tns:getSceneGroupResourceIdAndPositionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getScenePositionsForSceneValueResource">
      <wsdl:input name="inputMessageName13" message="tns:getScenePositionsForSceneValueResourceRequest" />
      <wsdl:output name="outputMessageName13" message="tns:getScenePositionsForSceneValueResourceResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEnumeratorDefinitions">
      <wsdl:input name="inputMessageName14" message="tns:getEnumeratorDefinitionsRequest" />
      <wsdl:output name="outputMessageName14" message="tns:getEnumeratorDefinitionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getResourceType">
      <wsdl:input name="inputMessageName15" message="tns:getResourceTypeRequest" />
      <wsdl:output name="outputMessageName15" message="tns:getResourceTypeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getExtraDatalineInputs">
      <wsdl:input name="inputMessageName16" message="tns:getExtraDatalineInputsRequest" />
      <wsdl:output name="outputMessageName16" message="tns:getExtraDatalineInputsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getExtraDatalineOutputs">
      <wsdl:input name="inputMessageName17" message="tns:getExtraDatalineOutputsRequest" />
      <wsdl:output name="outputMessageName17" message="tns:getExtraDatalineOutputsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllDatalineInputs">
      <wsdl:input name="inputMessageName18" message="tns:getAllDatalineInputsRequest" />
      <wsdl:output name="outputMessageName18" message="tns:getAllDatalineInputsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllDatalineOutputs">
      <wsdl:input name="inputMessageName19" message="tns:getAllDatalineOutputsRequest" />
      <wsdl:output name="outputMessageName19" message="tns:getAllDatalineOutputsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResourceInteractionServiceBinding" type="tns:ResourceInteractionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRuntimeValue">
      <soap:operation soapAction="getRuntimeValue" style="document" />
      <wsdl:input name="inputMessageName1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRuntimeValues">
      <soap:operation soapAction="getRuntimeValues" style="document" />
      <wsdl:input name="inputMessageName2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName2">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInitialValue">
      <soap:operation soapAction="getInitialValue" style="document" />
      <wsdl:input name="inputMessageName3">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName3">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInitialValues">
      <soap:operation soapAction="getInitialValues" style="document" />
      <wsdl:input name="inputMessageName4">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName4">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setResourceValue">
      <soap:operation soapAction="setResourceValue" style="document" />
      <wsdl:input name="inputMessageName5">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName5">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setResourceValues">
      <soap:operation soapAction="setResourceValues" style="document" />
      <wsdl:input name="inputMessageName6">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName6">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enableRuntimeValueNotifications">
      <soap:operation soapAction="enableRuntimeValueNotifications" style="document" />
      <wsdl:input name="inputMessageName7">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName7">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disableRuntimeValueNotifactions">
      <soap:operation soapAction="disableRuntimeValueNotifactions" style="document" />
      <wsdl:input name="inputMessageName8">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName8">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enableInitialValueNotifications">
      <soap:operation soapAction="enableInitialValueNotifications" style="document" />
      <wsdl:input name="inputMessageName9">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName9">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disableInitialValueNotifactions">
      <soap:operation soapAction="disableInitialValueNotifactions" style="document" />
      <wsdl:input name="inputMessageName10">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName10">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="waitForResourceValueChanges">
      <soap:operation soapAction="waitForResourceValueChanges" style="document" />
      <wsdl:input name="inputMessageName11">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName11">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSceneGroupResourceIdAndPositions">
      <soap:operation soapAction="getSceneGroupResourceIdAndPositions" style="document" />
      <wsdl:input name="inputMessageName12">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName12">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScenePositionsForSceneValueResource">
      <soap:operation soapAction="getScenePositionsForSceneValueResource" style="document" />
      <wsdl:input name="inputMessageName13">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName13">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEnumeratorDefinitions">
      <soap:operation soapAction="getEnumeratorDefinitions" style="document" />
      <wsdl:input name="inputMessageName14">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName14">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResourceType">
      <soap:operation soapAction="getResourceType" style="document" />
      <wsdl:input name="inputMessageName15">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName15">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExtraDatalineInputs">
      <soap:operation soapAction="getExtraDatalineInputs" style="document" />
      <wsdl:input name="inputMessageName16">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName16">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExtraDatalineOutputs">
      <soap:operation soapAction="getExtraDatalineOutputs" style="document" />
      <wsdl:input name="inputMessageName17">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName17">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDatalineInputs">
      <soap:operation soapAction="getAllDatalineInputs" style="document" />
      <wsdl:input name="inputMessageName18">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName18">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDatalineOutputs">
      <soap:operation soapAction="getAllDatalineOutputs" style="document" />
      <wsdl:input name="inputMessageName19">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName19">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResourceInteractionServiceService">
    <wsdl:port name="ResourceInteractionServiceBindingPort" binding="tns:ResourceInteractionServiceBinding">
      <soap:address location="http://localhost/ResourceInteractionService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>