bundles/binding/org.openhab.binding.ihc/wsdl/usermanager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="utcs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="utcs" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<wsdl:types>
<xsd:schema targetNamespace="utcs" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
<xsd:complexType name="WSDate">
<xsd:sequence>
<xsd:element name="day" type="xsd:int">
</xsd:element>

<xsd:element name="monthWithJanuaryAsOne" type="xsd:int">
</xsd:element>

<xsd:element name="hours" type="xsd:int">
</xsd:element>

<xsd:element name="minutes" type="xsd:int">
</xsd:element>

<xsd:element name="seconds" type="xsd:int">
</xsd:element>

<xsd:element name="year" type="xsd:int">
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="WSUserGroup">
<xsd:sequence>
<xsd:element name="type" type="xsd:string">
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="WSUser">
<xsd:sequence>
<xsd:element name="createdDate" nillable="true" type="tns:WSDate">
</xsd:element>

<xsd:element name="loginDate" nillable="true" type="tns:WSDate">
</xsd:element>

<xsd:element name="username" type="xsd:string">
</xsd:element>

<xsd:element name="password" type="xsd:string">
</xsd:element>

<xsd:element name="email" type="xsd:string">
</xsd:element>

<xsd:element name="firstname" type="xsd:string">
</xsd:element>

<xsd:element name="lastname" type="xsd:string">
</xsd:element>

<xsd:element name="phone" type="xsd:string">
</xsd:element>

<xsd:element name="group" nillable="true" type="tns:WSUserGroup">
</xsd:element>

<xsd:element name="project" type="xsd:string">
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ArrayOfWSUser">
<xsd:sequence>
<xsd:element name="arrayItem" maxOccurs="unbounded" nillable="true" type="tns:WSUser">
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:element name="getUsers1" nillable="true" type="tns:ArrayOfWSUser">
</xsd:element>

<xsd:element name="addUser1" nillable="true" type="tns:WSUser">
</xsd:element>

<xsd:element name="removeUser1" nillable="true" type="xsd:string">
</xsd:element>

<xsd:element name="updateUser1" nillable="true" type="tns:WSUser">
</xsd:element>
</xsd:schema>
</wsdl:types>

<wsdl:message name="getUsersRequest">
</wsdl:message>

<wsdl:message name="getUsersResponse">
<wsdl:part name="return" element="tns:getUsers1">
</wsdl:part>
</wsdl:message>

<wsdl:message name="addUserRequest">
<wsdl:part name="parameter1" element="tns:addUser1">
</wsdl:part>
</wsdl:message>

<wsdl:message name="addUserResponse">
</wsdl:message>

<wsdl:message name="removeUserRequest">
<wsdl:part name="parameter2" element="tns:removeUser1">
</wsdl:part>
</wsdl:message>

<wsdl:message name="removeUserResponse">
</wsdl:message>

<wsdl:message name="updateUserRequest">
<wsdl:part name="parameter3" element="tns:updateUser1">
</wsdl:part>
</wsdl:message>

<wsdl:message name="updateUserResponse">
</wsdl:message>

<wsdl:portType name="UserManagerService">
<wsdl:operation name="getUsers">
<wsdl:input name="inputMessageName1" message="tns:getUsersRequest">
</wsdl:input>

<wsdl:output name="outputMessageName1" message="tns:getUsersResponse">
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="addUser">
<wsdl:input name="inputMessageName2" message="tns:addUserRequest">
</wsdl:input>

<wsdl:output name="outputMessageName2" message="tns:addUserResponse">
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="removeUser">
<wsdl:input name="inputMessageName3" message="tns:removeUserRequest">
</wsdl:input>

<wsdl:output name="outputMessageName3" message="tns:removeUserResponse">
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="updateUser">
<wsdl:input name="inputMessageName4" message="tns:updateUserRequest">
</wsdl:input>

<wsdl:output name="outputMessageName4" message="tns:updateUserResponse">
</wsdl:output>
</wsdl:operation>
</wsdl:portType>

<wsdl:binding name="UserManagerServiceBinding" type="tns:UserManagerService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http">
</soap:binding>

<wsdl:operation name="getUsers">
<soap:operation soapAction="getUsers" style="document">
</soap:operation>

<wsdl:input name="inputMessageName1">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName1">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="addUser">
<soap:operation soapAction="addUser" style="document">
</soap:operation>

<wsdl:input name="inputMessageName2">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName2">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="removeUser">
<soap:operation soapAction="removeUser" style="document">
</soap:operation>

<wsdl:input name="inputMessageName3">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName3">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>

<wsdl:operation name="updateUser">
<soap:operation soapAction="updateUser" style="document">
</soap:operation>

<wsdl:input name="inputMessageName4">
<soap:body use="literal">
</soap:body>
</wsdl:input>

<wsdl:output name="outputMessageName4">
<soap:body use="literal">
</soap:body>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>

<wsdl:service name="UserManagerServiceService">
<wsdl:port name="UserManagerServiceBindingPort" binding="tns:UserManagerServiceBinding">
<soap:address location="http://localhost/UserManagerService">
</soap:address>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>